    body {
        background-color: #f6f3f8;
    }

    .navbar-custom {
        background: linear-gradient(
            to right,
            rgba(74, 3, 117, 0.9),
            rgba(160, 32, 240, 0.85)
        );
        backdrop-filter: blur(8px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.479);
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }

    .navbar-custom .nav-link {
        color: #EBD3F8;
        transition: color 0.3s ease;
    }

    .nav-link:hover {
        color: #c483e7;
    }

    .logo-icon {
        color: #AD49E1;
        font-size: 1.4rem;
    }

    .navbar-toggler {
        border: none;
        filter: invert(100%);
    }
